#container {
	margin: 20px auto;
	max-width: 600px;
	min-width: 400px;
	text-align: center;
	align-content: center;

}
h1 {
	text-align: center;
	line-height: 1.1;
	font-weight: normal;
	color: black;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}
.disp{
	float: left;
	width: 10%;
	text-align: center;
    display: inherit;
	background: #DCDCDC;
}
#minspan{
	margin:0 4.16%;
}
#hrspan{
	margin:0 4.16%;
}
#dayspan{
	margin:0 4.16%;
}
#secspan{
	margin:0 4.16%;
}
